<footer class="footer">
  <div class="footer-left col-md-4 col-sm-6">
    <p class="about">
      <span> 免责声明</span> 
      本博客所展示的股票或者文章观点都仅仅是作者为了记录自己炒股生涯每天的点点滴滴，绝非荐股，所有内容均不构成具体操作建议，据此操作盈亏自负、风险自担。
      </p>
    <div class="icons">
      {% if site.twitter %}<a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a>{% endif %}
      {% if site.linkedin %}<a href="https://www.linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>{% endif %}
      {% if site.github %}<a href="https://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>{% endif %}
      {% if site.facebook %}<a href="https://facebook.com/{{ site.facebook }}"><i class="fa fa-facebook"></i></a>{% endif %}
    </div>
  </div>
  <div class="footer-center col-md-4 col-sm-6">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span> Fake Street, 123</span> Springfield, OH</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p> (+1) 1234 555 321</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="#">if@kxgxq.com</a></p>
    </div>
  </div>
  <div class="footer-right col-md-4 col-sm-6">
    <h2> 开心<span> 滚雪球</span></h2>
    <p class="menu">
      <a href="/"> 主页</a>
    </p>
    <p class="name"> 开心滚雪球 &copy; {{ site.time | date: '%Y' }}</p>
  </div>
</footer>
